*{
    padding:0px;
    margin:0px;
}
.flexcontainer{
    padding:50px 0;
    display: flex;
    margin:auto;
    justify-content: space-between;
 

}
.image{
    flex-basis: 40%;
    margin-bottom: 10px;
margin:auto;
}
.flexcontainer p{
    margin-right: 40px;
    font-size: 20px;
}
@media(max-width:700px){
    .flexcontainer{
        flex-direction: column;
    }
}
.image img {
    border-top-left-radius: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    width:200px;
    height:200px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    text-align: center;
}
.secondcontainer h1{
    margin: 10px;;
}
.fa-search{
    background-color: red;

    border-radius: 16px;
  padding:8px 40px;
    text-align: center;
    position: relative;
}
@media(max-width:700px){
    .containers{
        flex-direction: column;
    }
    form{
        display: none;

    }
    nav ul li{
        display: none;
    }
}
.containers{

}
.flexcontainer h1{
    margin:10px;
}

.containers{
    padding:50px 0;
    display: flex;
    
    justify-content: center;
}
h2{
    text-align: center;
}
.cards{
    margin:10px;
}
.content h1{
    font-size: 60px;
    color:white;
    font-weight: 600;
    background-color: red;
    border-top-right-radius:  20px 10px;
    border-bottom-left-radius: 10px ;
    border-width: 200px;

}
#one h1{
    text-align: center;
}
.cards img{
    width:200px;
    height:200px;
}
#one{

    padding:60px 0;
    margin:auto;
}
input {
    margin-right:20px;
border:none;
    border-radius:16px;
    padding:8px 40px;
}
.container{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://tse2.mm.bing.net/th?id=OIP.Yx4AlNzUME3xv3ph-S7g5QHaE8&pid=Api&P=0&h=220");

background-position: center;
background-size: cover;
min-height:100vh;


}
ul li:after{
    content:'';
    width:0%;
    height:2px;
    display:block;
    background-color: red;
    
    transition:0.8s;

}
ul li:hover:after{

    width:100%;
}
li a{
    margin:10px;
    text-decoration: none;
    color:rgb(53, 126, 253);
    font-weight:bold;
    font-size:16px;
}
ul{
    list-style:none;
    padding:2% 6%;
    display:flex;
}